<%= render 'shared/errors', obj: @article %>

<div class="form-horizontal">
  <%= form_for @article do |f| %>
  <div class="form-group">
    <%= f.label :title ,class: "col-sm-2 control-label" %> 
    <div class="col-sm-6">
      <%= f.text_field :title, class: "form-control " %>
    </div>
  </div>
  <div class="form-group">
     <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
    <%= f.text_area :description, rows: 10, class: "form-control " %>
    </div>
  </div>
 <div class="form-group">
   <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit class: "btn btn-primary" %>
   </div>
  </div>
<% end %>

</div>
<div class="col-xs-4 col-xs-offset-4">
 [<%= link_to 'Cancel and Return to Index', articles_path %>]
</div>